*/INPUT_DIR/
*/OUTPUT_DIR/
*/PARAM_DIR/
*/TEST_DIR/
*/TEIN_DIR/
*/QryEval/
*/qryOut/
*/lucene-8.1.1/
*/out/
*.DS_Store
*.idea/
*.zip
*.param
*.qry
*.class
*.docx
*.inRank
Makefile
*.LtrTrain
*.jar
*.sh
*.perl